body {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD

=======
    
>>>>>>> d5217da420b2e883c69b90226f5d8e460d049bba
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #3D3D3D;
}

h1 {
<<<<<<< HEAD
    border-bottom: 2px solid black;

=======
    padding: 10px;
    
>>>>>>> d5217da420b2e883c69b90226f5d8e460d049bba
    background-color: #E1EDF2;
}

h2 {
    border-bottom: 2px solid black;
}

figure {
    margin: 30px;
    padding: 15px;

    text-align: center;

    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

figcaption {
<<<<<<< HEAD
    margin-top: 10;
=======
    margin-top: 10px;
}

.matriz-music {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    width: 100%;
>>>>>>> d5217da420b2e883c69b90226f5d8e460d049bba
}